<ion-header>
  <ion-toolbar>
    <ion-title>
      POKEMONES
    </ion-title>
  </ion-toolbar>
</ion-header>
  <!-- Boton de añadir nuevo (click)="openModal()"-->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="add()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
<ion-content>
  <ion-card *ngFor="let pokemon of pokemons">
    <ion-item class="activated">
      <ion-icon name="create" slot="start" (click)="edit(pokemon)"></ion-icon>
      <ion-label>
        {{pokemon.name}}
      </ion-label>
      <ion-icon name="trash" slot="end" (click)="delete(pokemon)"></ion-icon>
    </ion-item>
  </ion-card>
</ion-content>
